.user_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    text-align: center;
    &_text {
        width: 100%;
        img:hover {
            cursor: pointer;
        }
    }
}
