.user_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62px;

    &_icon {
        padding: 16px;

        img:hover {
            cursor: pointer;
        }
    }
}
