.profile {
    &_body {
        padding: 40px 80px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        &_top {
            display: flex;
            flex: 1;
            gap: 40px;
        }

        &_bottom {
            display: flex;
            gap: 40px;
        }
    }
}
