.sign_up {
    padding: 100px 0;

    &_content {
        display: flex;

        &_header {
            flex: 1;

            &_div {
                background-color: #202930;
                color: #fff;
                padding: 25px;
                border-radius: 15px 0 15px 0;

                h3 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }

        &_form {
            flex: 2;
            padding: 0 25px;
        }
    }
}
