.sidebar {
    z-index: 999;
    width: 300px;
    padding: 50px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #202930;

    &_show {
        left: 0 !important;
    }

    &_toggle {
        position: absolute;
        right: -48px;
        top: 0;
        background-color: #202930;
        transition: 0.2s linear;

        &_show {
            right: 0;
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &_logo {
        display: flex;
        justify-content: center;
    }

    &_bottom {
    
        &_user {
            max-width: 80%;
            margin: 0 auto;

            button {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        position: absolute;
        top: 0;
        left: -300px;
        transition: 0.3s linear;
    }

    &_navigation {
        padding: 16px 24px;

        &_header {
            color: #F1F5F9;
            font-size: 1rem;
            margin-bottom: 16px;
        }

        &_list {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }
       
        &_item {
            color: #F1F5F9;
            display: flex;
            padding: 8px;
            margin: 16px 0;
            align-items: center;
            gap: 8px;
            
        }
    }

    &_active {
        background-color: #64748B;
    }
}